{% extends 'base.html.twig' %}

{% block title %}home page{% endblock %}



{% block body %}

    {% block stylesheets %}

        <link rel="stylesheet" href="{{asset('build/app.css')}}">

    {% endblock %}

    <!--services-->
    <section>
        <div class="container3">

            <div class="box" >

                <div class="imgBx">
                    <img src="{{ asset('build/images/area1.6b8b2b94.jpg') }}" alt="images" width="100">
                </div>

                <div class="content">
                    <div>
                        <h2>Welcome to chillys Coffee Cafe</h2>
                        <p>Are you ready to make it yours? After an extensive refurbishment, the iconic Chillys Coffee Café has reopened its doors on Dawson Street. Spanning over three floors, our art nouveau haven now includes a designated dining area, several beautiful scenery and an impressive indoor Street Garden.</p>
                    </div>
                </div>
            </div>

            <div class="box1" >

                <div class="imgBx1" >
                    <img src="{{ asset('build/images/area2.962e2230.jpg') }}" alt="images" width="100">

                </div>

                <div class="content1">
                    <div>
                        <h2>Co.Void 19</h2>
                        <p> On Tuesday 17th March (Paddy’s Day) we reopened with a new website, people all over Dublin as opposed to just in our 59 seats here in Phibsborough, all thanks to Covid-19. Remember folks, you can see the virus as a threat or an opportunity. We prefer the latter. Chillys Coffee Cafe We paid €7,000 for this horse box last year. Little did we know how valuable it would be to us a year later. It’s all we have now. It’s keeping the Moose alive! The chillys Café Box is open from 9-4 and it does takeaway food AND coffee. If you’re coming to the box, please remember to keep your fucking distance by obeying our SDO (Social Distancing Officer) and standing where you are told.</p>


                        <p>Thank you,</p>
                        <p>Felix</p>

                    </div>

                </div>
            </div>

        </div>
    </section>


    <div class="drinks-center">
        <div class="drink">
            <img src="{{ asset('build/images/drink2.91cd01e1.jpg') }}" alt="plate">
        </div>


        <div class= column1>
            <div class="drink1">
                <img src="{{ asset('build/images/drink9.93c8f3cf.jpg') }}" alt="plate">
            </div>
            <div class="drink1">
                <img src="{{ asset('build/images/drink11.35eaa67d.jpg') }}" alt="plate">
            </div>
            <div class="drink1">
                <img src="{{ asset('build/images/drink1.ecf540ad.jpg') }}" alt="plate">
            </div>
        </div>
        <div class="all">
            <div class="talk1">
                <h2>Our Menu</h2>
                <p>At Chillys Coffee Cafe we have a wide rage of differnt coffees
                    from lates to long black.Take a look at our Menu and see what peeks your interest.</p>
            </div>
            <div class="bleach">
                <button class="bed"><a href="{{ path('coffee') }}" style="text-decoration: none">></a></button>

            </div>
        </div>
    </div>


    </section>


    <!--end drink-->
    <!--about-->
    <section class="about">
        <article class="about-cafe">
            <h3> User Perks</h3>
            <i class="fa fa-coffee" aria-hidden="true"></i>
            <p>logged in users get access to the perks page where they will
            be able to get any coffee of their choice at a discount. So login now and
                claim your discount!</p>
        </article>

    </section>
    <!--end about-->
    <!--filler-->
    <section class="filler"></section>
    <!--end filler-->
    <!--contact-->
    <section class="contact">
        <article class="contact-card">
            <form>
                <h3>contact us</h3>
                <input type="text" id="name" placeholder="your name" required>
                <input type="email" id="1name" placeholder="your email" required>
                <textarea name="comment" id="name3" cols="30" rows="10" placeholder="Leave a comment" required></textarea>

                <a href="{{ path('feedback') }}">
                <button type="button" class="form-btn" >submit </button>
                </a>
            </form>

        </article>

    </section>

{% endblock %}
