{% extends 'base.html.twig' %}

{% block title %}Hello CoffeeController!{% endblock %}

{% block body %}

    {% block stylesheets %}

            <link rel="stylesheet" href="{{asset('build/app.css')}}">

        {% endblock %}

    <div class="box">

        <div class="cr">

            {% if app.user %}
            <h1>
                <div class="c1"> <a href="/coffee/create" >add new coffee</a></div>
            </h1>

            {% endif %}
            <div class="c2"><h1>coffee</h1></div>
        </div>


        <div class="box-row">
            {% for coffee in coffees %}
                <div class="box2">
                    <div class="box3">
                <img
                        src="{{ coffee.image }}"
                        alt=""
                        class="cimg" />

                        <div class="boxbody">
                            <h5>{{ coffee.name }}</h5>
                            <p>{{ coffee.description }}</p>
                            <div class="boxend">
                                <a href=" {{ path('coffee.detail', {id: coffee.id}) }}" class="btn btn-dark">
                                View details</a>
                                <h5>$ {{ coffee.price }} </h5>
                            </div>
                        </div>
                    </div>
            </div>
            {% endfor %}
        </div>

    </div>



</div>
{% endblock %}
